/**
 * Table of Content
 *
 *  > General
 *  > Header
 *  > Feature
 *
 * ============================= */

/* General
   ============================= */

body {
  margin: 0;
}

section,
header,
footer {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

a,
button,
h1,
h2,
h3 {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 200;
}

h1,
h2 {
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  margin-bottom: 80px;
  font-stretch: condensed;
}

.ultra-h1 {
  font-size: 70px;
  line-height: 85px;
  margin-bottom: 120px;
  transform: scale(1, 1.5);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
}

/* Header
   ============================= */

#header {
  height: 150px;
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
}

#header img,
#header nav {
  height: 70px;
}

/* ===NAVIGATION=== */

#header nav {
  display: flex;
}

#header ul {
  display: flex;

  list-style-type: none;
}

#header a,
#header button {
  color: black;

  font-weight: 200;
  font-size: 22px;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 0.25s ease;
}

#header a {
  height: 100%;
  display: block;

  line-height: 70px;

  text-decoration: none;
  padding: 0 20px;
}

#header a:hover {
  color: #48dbdc;
}

/* ===BUTTON=== */

#header button {
  margin-left: 30px;
  padding: 20px 40px;

  border: none;
  background-color: #48dbdc;
}

#header button:hover {
  color: white;
  background-color: black;
}

#header button i {
  margin-right: 10px;
}

/* Feature
   ============================= */

#feature {
  background-color: #48dbdc;
}

#feature h1 {
}

#laptop .screen {
  width: 800px;
  height: 500px;
  border-radius: 12px;
  border: solid white 38px;
}

/* LAYOUT
   ============================= */

#layout h1 {
}

#layout ul {
  display: flex;
}

#layout li {
  width: 550px;
  height: 700px;
  border: solid white 20px;
  cursor: pointer;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/placeholder.png");

  transition: 0.25s ease;
  transform: translateY(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#layout li:hover {
  transform: translateY(-1%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#layout li:nth-child(1) {
  margin-right: 50px;
}
