/**
 * Table of Content
 *
 *  > General
 *  > Header
 *  > Feature
 *
 * ============================= */

/* General
   ============================= */

body {
  margin: 0;
}

section,
header,
footer {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  font-family: sans-serif;
}

a,
button,
h1,
h2,
h3 {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-weight: 200;
}

h1,
h2 {
  font-size: 55px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 80px;
  font-stretch: condensed;
  transform: scale(1, 1.5);
}

.ultra-h1 {
  font-size: 80px;
  line-height: 100px;
  margin-bottom: 120px;
  color: #eb2ab8;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
}

/* Header
   ============================= */

#header {
  height: 150px;
  padding: 0 60px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
}

#header img,
#header nav {
  height: 70px;
}

/* ===NAVIGATION=== */

#header nav {
  display: flex;
}

#header ul {
  display: flex;

  list-style-type: none;
}

#header a,
#header button {
  color: black;

  font-weight: 200;
  font-size: 22px;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 0.25s ease;
}

#header a {
  height: 100%;
  display: block;

  line-height: 70px;

  text-decoration: none;
  padding: 0 20px;
}

#header a:hover {
  color: #48dbdc;
}

/* ===BUTTON=== */

#header button {
  margin-left: 30px;
  padding: 20px 40px;

  border: none;
  background-color: #48dbdc;
}

#header button:hover {
  color: white;
  background-color: black;
}

#header button i {
  margin-right: 10px;
}

/* Feature
   ============================= */

#feature {
  background-color: #48dbdc;
}

#laptop .screen {
  width: 800px;
  height: 500px;
  border-radius: 12px;
  border: solid white 38px;
}

/* LAYOUT
   ============================= */

#layout h1 {
}

#layout ul {
  display: flex;
}

#layout li {
  width: 400px;
  height: 700px;
  border: solid white 20px;
  cursor: pointer;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/placeholder.png");

  transition: 0.25s ease;
  transform: translateY(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#layout li:hover {
  transform: translateY(-1%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#layout li:nth-child(1) {
  margin-right: 50px;
}

/* NEVER STOPS
   ============================= */

#never-stops {
  background-color: #f1f1f1;
}
#never-stops ul {
  display: flex;
  margin-bottom: 25px;
}

#never-stops li {
  width: 300px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translateY(0);
  transition: 0.25s ease;

  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0);
}

#never-stops li:hover {
  transform: translateY(-2%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

#never-stops li:not(:last-child) {
  margin-right: 25px;
}

#never-stops i {
  font-size: 85px;
  position: relative;
  z-index: 1;
}

#never-stops p {
  font-size: 20px;
  margin: 18px 0;

  font-weight: 200;
  font-family: sans-serif;
  text-align: center;

  color: #989898;
}

#never-stops li > div {
  text-align: center;
}

#never-stops .icon {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  position: relative;
}

#never-stops .icon:before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
}

#never-stops ul:nth-child(even) .icon:before {
  top: 0;
}

#never-stops ul:nth-child(odd) .icon:before {
  bottom: 0;
}

#never-stops li:nth-child(even) .icon:before {
  left: 0;
}

#never-stops li:nth-child(odd) .icon:before {
  right: 0;
}

#never-stops ul:nth-child(odd) li:nth-child(even) .icon:before,
#never-stops ul:nth-child(even) li:nth-child(odd) .icon:before {
  background-color: rgba(42, 237, 238, 0.78);
}

#never-stops ul:nth-child(odd) li:nth-child(odd) .icon:before,
#never-stops ul:nth-child(even) li:nth-child(even) .icon:before {
  background-color: rgba(241, 16, 172, 0.74);
}
